<div class="row">
	<div class="col-md-6">
		<h1>Custom Counter Buttons</h1>
		<p>Build and control your own custom counter buttons.</p>
		<% if current_user %>
			<h4 class="some-space">
			Go to 
			<%#= link_to "Your Counter Sandbox", my_counters_path, class: 'btn btn-info btn-lg' %>
			</h4>
		<% end %>
	</div>
</div>
